.breathingApp {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: background-color 1s;
  text-align: center;
  -webkit-touch-callout: none; 
}

h2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline-style: none;
}

.circle {
  margin: 60px auto 10px auto;
  animation: pulse;
  animation-duration: 2s;
}
